<p>
  Patient Record
</p>

<table class="table table-hover">
  <thead>
  <tr>
      <td>Blood Pressure</td>
      <td>Respiratory Rate</td>
      <td>Blood Oxygen Level</td>
      <td>Heart Beat Rate</td>
  </tr>
  </thead>

  <tbody id="body_color">
      <tr>
          <td>Demo</td>
          <td>Demo</td>
          <td>Demo</td>
          <td>Demo</td>
      </tr>
  </tbody>
</table>

<table class="table table-hover">
<tr class="buttons">
    <td><a [routerLink]="['/editrecord']" class="btn btn-primary" id="buttons">Edit</a></td>
    <td><button class="btn btn-danger" id="buttons">Delete</button></td>
    </tr>
</table>