<div class="loginBox">
        Welcome,  {{id}}
        <a href="javascript:void(0);" (click)="logout()">  {{'H22' | translate}}</a>
    </div>
<p>
    {{'H18' | translate}}
</p>
<div class="card">
        <div class="card-body">
            <form [formGroup]="addPatient" novalidate>
                <table class="table table-hover">
                            <thead>
                                    <tr>
                                        <td>{{'H4' | translate}}</td>
                                        <td class="hide">{{'H5' | translate}}</td>
                                        <td class="hide">{{'H6' | translate}}</td>
                                        <td class="hide">{{'H7' | translate}}</td>
                                        <td colspan="2">{{'H8' | translate}}</td>
                                    </tr>
                            </thead>
                            <tbody id="body_color">
                                    <tr *ngFor="let patient of patients">
                                        <!-- <td class="CellWithComment"><a [routerLink]="['/getrecord', patient._id]" class="nav-link">{{ patient.first_name }}<span class="CellComment">Click to fetch records!</span></a>
                                        </td> -->
                                        <td>{{ patient.first_name }}</td>
                                        <td class="hide">{{ patient.last_name }}</td>
                                        <td class="hide">{{ patient.dob }}</td>
                                        <td class="hide">{{ patient.address }}</td>
                                        <td class="buttons"><a (click)="singlePatient(patient._id)" class="btn btn-primary">Records</a>
                                        <a [routerLink]="['/edit', patient._id]" class="btn btn-primary">{{'H9' | translate}}</a>
                                        <button (click)="deletePatient(patient._id)"  class="btn btn-danger">{{'H10' | translate}}</button></td>
                                    </tr>
                            </tbody>
                </table> 
          </form>
        </div>
      </div>