<p>
        Login
</p>
      <div class="card">
        <div class="card-body">
                <div class="loginBox">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="form-group" [ngClass]="{ 'has-error': submitted && f.userid.errors }">
                    <label class="col-md-4">Username</label>
                    <input type="text" class="form-control" formControlName="userid" />
                 </div>
                 <div *ngIf="submitted && f.userid.errors" class="help-block">
                        <div *ngIf="f.userid.errors.required">Userid is required</div>
                  </div>

            <div class="form-group" [ngClass]="{ 'has-error': submitted && f.password.errors }">
              <label class="col-md-4">Password</label>
              <input type="password" class="form-control" formControlName="password"/>
            </div>
            <div *ngIf="submitted && f.password.errors" class="help-block">
                    <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
            
              <div class="form-group">
                    <button class="btn btn-success" type="submit">Login</button>
                </div>
          </form>
          </div>
        </div>
      </div>